#epub-detail {
    
    .text-white-default {
        padding-bottom: 10px !important;
        padding-top: 10px !important;
        --tw-text-opacity: 1;
        color: #000;
    }
    .text-0ba {
        padding-bottom: 10px !important;
        padding-top: 10px !important;
        --tw-text-opacity: 1;
        color: #0bafff;
    }
}
html, body {margin: 0; height: 100%; overflow: hidden}