.order{
    
    &__header{
        height: 50px;
        border-bottom: 1px solid #ddd;
    }
    &__content{
        position: relative;
        height: calc(100vh - 46.5px - 50px - 50px - 13px);
        margin: 0;
        overflow-x: hidden !important;
      	overflow-y: auto !important;  /* <---------- required */
        
    }
    &__footer{
        
        height: 50px;
        background-color: #ddd;
    }
    &--overflow-y-disable{
        overflow-y: hidden;
    }
}

