.post-item {
    // border: 0.1px solid rgb(212, 212, 212);
    // border-radius: 3.5px;
    // box-shadow: 0.5px 2px 2px grey;
    margin: 8px 0px 0px 0px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.description {
    margin-left: 10px;
}

// .comment-post {


//     background-color: rgb(244, 244, 245);
//     border-top: 0.5px solid gainsboro;
// }

.icon-postitem {
    font-size: 1.5rem;
    margin: -5px 5px 5px 10px;
    margin-top: -5px;

    cursor: pointer;
    color: rgb(167, 164, 164);
}


