#bodyItem {
    background-color: white;

}
#bodyItem1 {
    background-color: rgb(212, 208, 208);

}
#activeDefault0 {
    background-color: rgb(212, 208, 208);

}
#bodyItem:hover{
    background-color: rgba(209, 207, 207, 0.2);
}