#tiletActive {
    background-color: #1AA1DC !important;
    color: white !important;
}

#activeDefault0 {
    background-color: #1AA1DC;
    color: white;
}

.shop-li {
    float: left;
    width: 33.3%;
    padding: 10px 5px;
    margin: 0;
    text-align: center;
    list-style: none;
    border-right: 1px solid #e7e7e7;
}